<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Projeto</title>
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="lib/ionic/css/ionic.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/server.js"></script>
  <script src="js/services/itemDeleteButton.js"></script>
  <!-- <script src="js/services/projetosAPIService.js"></script> -->
  <script src="js/controllers/appCtrl.js"></script>
  <!-- <script src="js/controllers/menuCtrl.js"></script> -->
  <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
</head>

<body ng-app="app" ng-controller="appCtrl">
  <!-- LOGO RIVAL -->
  <div>
    <img class="logo" ng-src="img/logotipo.png" />
  </div>
  <!-- ÁREA CENTRAL -->
  <div class="holder">
    <!-- ICONE + LEGENDA DE E-SPORT -->
    <div class="esquerda" title="E-Sports">
      <img class="esport" ng-src="img/e-sport.png" ng-click="abreEsports()" type="text/ng-template" />
      <h2 class="inicial">E-Sports</h2>
    </div>
    <!-- ICONE + LEGENDA DE ESPORTE -->
    <div class="direita" title="Esportes">
      <img class="sport" ng-src="img/esporte.png" ng-click="abreEsportes()" type="text/ng-template" />
      <h2 class="inicial">Esportes</h2>
    </div>
  </div>
  <!-- FOOTER + ICONE DE AJUDA -->
  <div class="bar bar-footer" ng-include="'view/footer.html'"></div>
</body>

</html>
