ion-icon {
  vertical-align: top;
  font-size: 32px;
  line-height: 32px;
  padding-right: 2px;
  padding-left: 2px;
}

img {
  max-width: 32px;
  max-height: 32px;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.buttons {
  text-align: center;
}